{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel OpenApi Demo Documentation",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/blog-api/auth/v1/register": {
            "post": {
                "tags": [
                    "Blog API"
                ],
                "summary": "Register",
                "description": "Register",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@,test.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "name": "admin",
                                    "email": "test@test.com",
                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                    "id": "1"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  Unauthorized"
                    }
                }
            }
        },
        "/blog-api/auth/v1/login": {
            "post": {
                "tags": [
                    "Blog API"
                ],
                "summary": "Login user",
                "description": "user login",
                "operationId": "loginUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@,test.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "LWHIXc57VJ7rONJOMORO5D9jvJ84h1p1yrUhbBR2"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  Unauthorized"
                    }
                }
            }
        },
        "/blog-api/category/v1/list": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "list Category",
                "description": "list Category",
                "operationId": "list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "skip",
                                    "take",
                                    "post_type"
                                ],
                                "properties": {
                                    "skip": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "0"
                                    },
                                    "take": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "article"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": [
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "subject": "subject Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "1"
                                                },
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "subject": "subject Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "2"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/store": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store category in DB",
                "description": "Store category in DB",
                "operationId": "store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "pic_small": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    },
                                    "pic_large": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "slug"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Post Name"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Title"
                                    },
                                    "status": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post status"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Slug status"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Description"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Description"
                                    },
                                    "meta_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Keywords"
                                    },
                                    "meta_language": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Language"
                                    },
                                    "tweet_text": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Tweet Text"
                                    },
                                    "category_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "article"
                                    },
                                    "menu_order": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "100"
                                    },
                                    "menu_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "visible_index_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolaen",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "Create new Category"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category name",
                                                "title": "category post",
                                                "status": "True",
                                                "slug": "slug category",
                                                "description": "description post",
                                                "meta_description": "meta_description post",
                                                "meta_keywords": "meta_keywords post",
                                                "meta_language": "meta_language post",
                                                "tweet_text": "tweet_text post",
                                                "category_type": "category type",
                                                "menu_order": "menu_order category",
                                                "priority": "133",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "menu_status": "True",
                                                "visible_index_status": "True",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/show": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store category in DB",
                "description": "Store category in DB",
                "operationId": "show",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category name",
                                                "title": "category post",
                                                "status": "True",
                                                "slug": "slug category",
                                                "description": "description post",
                                                "meta_description": "meta_description post",
                                                "meta_keywords": "meta_keywords post",
                                                "meta_language": "meta_language post",
                                                "tweet_text": "tweet_text post",
                                                "category_type": "article",
                                                "menu_order": "menu_order category",
                                                "priority": "133",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "menu_status": "True",
                                                "visible_index_status": "True",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/edit": {
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "Edit category in DB",
                "description": "Edit category in DB",
                "operationId": "edit",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "pic_small": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    },
                                    "pic_large": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "category_type"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Category Name"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Title"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test-article-title"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Description"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Meta Description"
                                    },
                                    "meta_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Meta Keywords"
                                    },
                                    "meta_language": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Meta Language"
                                    },
                                    "tweet_text": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Tweet Text"
                                    },
                                    "category_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "article"
                                    },
                                    "menu_order": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "menu_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "visible_index_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category",
                                                "title": "title category",
                                                "slug": "slug category",
                                                "description": "description category",
                                                "pic_small": "pic_small category",
                                                "pic_large": "pic_large category",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/soft-delete": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Soft-delete category in DB",
                "description": "Soft-delete category in DB",
                "operationId": "soft-delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error soft delete"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/delete": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "delete category in DB",
                "description": "delete category in DB",
                "operationId": "delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Delete"
                    }
                }
            }
        },
        "/blog-api/category/v1/restore-delete": {
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "restore delete category in DB",
                "description": "when you delete category in DB you can restore it",
                "operationId": "restore-delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource if success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error category delete"
                    }
                }
            }
        },
        "/blog-api/comment/v1/store": {
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Store comment in DB",
                "description": "Store comment in DB",
                "operationId": "storeComment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "post_id",
                                    "comments"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test email"
                                    },
                                    "post_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "comments": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test comments"
                                    },
                                    "status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolaen",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "Create new Comment"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "name",
                                                "email": "email",
                                                "post_id": 1,
                                                "comments": "comments",
                                                "status": 1,
                                                "updated_at": "2021-09-01T09:12:12.000000Z",
                                                "created_at": "2021-09-01T09:12:12.000000Z",
                                                "id": 1
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/comment/v1/edit": {
            "put": {
                "tags": [
                    "Comment"
                ],
                "summary": "Edit comment in DB",
                "description": "Edit comment in DB",
                "operationId": "edit-comment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test email"
                                    },
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "comments": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test comments"
                                    },
                                    "status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {},
                                        "example": {
                                            "id": "1",
                                            "name": "tag post"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "edit success"
                                        },
                                        "data": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/comment/v1/list": {
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "list comment",
                "description": "list comment",
                "operationId": "list-comment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "skip",
                                    "take"
                                ],
                                "properties": {
                                    "skip": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "0"
                                    },
                                    "take": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": [
                                                {
                                                    "name": "Post Comment",
                                                    "email": "test@test.test",
                                                    "post_id": "1",
                                                    "comments": "comment Post",
                                                    "status": "0",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "1"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/comment/v1/soft-delete": {
            "delete": {
                "tags": [
                    "Comment"
                ],
                "summary": "Soft-delete Comment in DB",
                "description": "Soft-delete Comment in DB",
                "operationId": "soft-delete-comment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  soft delete"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/comment/v1/restore-delete": {
            "put": {
                "tags": [
                    "Comment"
                ],
                "summary": "restore delete comment in DB",
                "description": "when you delete comment in DB you can restore it",
                "operationId": "restore-delete-comment",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource if success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Restore delete"
                    }
                }
            }
        },
        "/blog-api/post/v1/store": {
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "Store post in DB",
                "description": "Store post in DB",
                "operationId": "storePost",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "pic_small": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    },
                                    "pic_large": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "slug",
                                    "post_type"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test post name"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Title"
                                    },
                                    "status": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post status"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Slug status"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Description"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Description"
                                    },
                                    "meta_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Keywords"
                                    },
                                    "meta_language": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Language"
                                    },
                                    "tweet_text": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Tweet Text"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Post Type"
                                    },
                                    "menu_order": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "100"
                                    },
                                    "comment_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "menu_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "visible_index_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {},
                                        "example": {
                                            "id": "1",
                                            "name": "tag post"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolaen",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "Create new Post"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "post name",
                                                "title": "title post",
                                                "status": "True",
                                                "slug": "slug category",
                                                "description": "description post",
                                                "meta_description": "meta_description post",
                                                "meta_keywords": "meta_keywords post",
                                                "meta_language": "meta_language post",
                                                "tweet_text": "tweet_text post",
                                                "post_type": "post_type post",
                                                "menu_order": "menu_order post",
                                                "priority": "133",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "comment_status": "True",
                                                "menu_status": "True",
                                                "visible_index_status": "True",
                                                "category_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1",
                                                "tags": {
                                                    "id": "1",
                                                    "name": "tag post"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/list": {
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "list Post",
                "description": "list Post",
                "operationId": "list-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "skip",
                                    "take",
                                    "post_type"
                                ],
                                "properties": {
                                    "skip": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "0"
                                    },
                                    "take": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "article"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": [
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "description": "description Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "1"
                                                },
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "description": "description Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "2"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/show": {
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "Store post in DB",
                "description": "Store category in DB",
                "operationId": "show-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "post name",
                                                "title": "title post",
                                                "status": "True",
                                                "slug": "slug category",
                                                "description": "description post",
                                                "meta_description": "meta_description post",
                                                "meta_keywords": "meta_keywords post",
                                                "meta_language": "meta_language post",
                                                "tweet_text": "tweet_text post",
                                                "post_type": "post_type post",
                                                "menu_order": "menu_order post",
                                                "priority": "133",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "comment_status": "True",
                                                "menu_status": "True",
                                                "visible_index_status": "True",
                                                "category_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1",
                                                "tags": {
                                                    "id": "1",
                                                    "name": "tag post"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/edit": {
            "put": {
                "tags": [
                    "Post"
                ],
                "summary": "Edit post in DB",
                "description": "Edit post in DB",
                "operationId": "edit-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "pic_small": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    },
                                    "pic_large": {
                                        "description": "file to upload",
                                        "type": "file",
                                        "format": "file"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "post_type"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test post name"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Title"
                                    },
                                    "status": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post status"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Slug status"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Description"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Description"
                                    },
                                    "meta_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Keywords"
                                    },
                                    "meta_language": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Language"
                                    },
                                    "tweet_text": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Tweet Text"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Post Type"
                                    },
                                    "menu_order": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "100"
                                    },
                                    "comment_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "menu_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "visible_index_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {},
                                        "example": {
                                            "id": "1",
                                            "name": "tag post"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "edit success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": "{}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/soft-delete": {
            "delete": {
                "tags": [
                    "Post"
                ],
                "summary": "Soft-delete post in DB",
                "description": "Soft-delete post in DB",
                "operationId": "soft-delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  soft delete"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/delete": {
            "delete": {
                "tags": [
                    "Post"
                ],
                "summary": "delete post in DB",
                "description": "delete post in DB",
                "operationId": "delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Delete"
                    }
                }
            }
        },
        "/blog-api/post/v1/restore-delete": {
            "put": {
                "tags": [
                    "Post"
                ],
                "summary": "restore delete post in DB",
                "description": "when you delete post in DB you can restore it",
                "operationId": "restore-delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource if success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Restore delete"
                    }
                }
            }
        },
        "/blog-api/setting/v1/store": {
            "post": {
                "tags": [
                    "Setting"
                ],
                "summary": "Store setting in DB",
                "description": "Store setting in DB",
                "operationId": "storeSetting",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "app_logo",
                                    "app_name"
                                ],
                                "properties": {
                                    "app_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_name"
                                    },
                                    "app_logo": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_logo"
                                    },
                                    "app_favicon": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_favicon"
                                    },
                                    "app_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_description"
                                    },
                                    "app_short_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_short_description"
                                    },
                                    "app_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test app_keywords"
                                    },
                                    "address": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test address"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test phone"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test email"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test mobile"
                                    },
                                    "fax": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test fax"
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test telegram"
                                    },
                                    "whatsapp": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test whatsapp"
                                    },
                                    "facebook": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test facebook"
                                    },
                                    "twitter": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test twitter"
                                    },
                                    "instagram": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test instagram"
                                    },
                                    "linkedin": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test linkedin"
                                    },
                                    "youtube": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test youtube"
                                    },
                                    "pinterest": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test pinterest"
[...]
