{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel OpenApi Demo Documentation",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/blog-api/auth/v1/register": {
            "post": {
                "tags": [
                    "Blog API"
                ],
                "summary": "Register",
                "description": "Register",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "admin"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@,test.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "name": "admin",
                                    "email": "test@test.com",
                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                    "id": "1"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  Unauthorized"
                    }
                }
            }
        },
        "/blog-api/auth/v1/login": {
            "post": {
                "tags": [
                    "Blog API"
                ],
                "summary": "Login user",
                "description": "user login",
                "operationId": "loginUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@,test.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "LWHIXc57VJ7rONJOMORO5D9jvJ84h1p1yrUhbBR2"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  Unauthorized"
                    }
                }
            }
        },
        "/blog-api/category/v1/list": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "list Category",
                "description": "list Category",
                "operationId": "list",
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": [
                                                {
                                                    "name": "category",
                                                    "title": "title category",
                                                    "slug": "slug category",
                                                    "description": "description category",
                                                    "pic_small": "pic_small category",
                                                    "pic_large": "pic_large category",
                                                    "parent_id": "1",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "1"
                                                },
                                                {
                                                    "name": "category",
                                                    "title": "title category",
                                                    "slug": "slug category",
                                                    "description": "description category",
                                                    "pic_small": "pic_small category",
                                                    "pic_large": "pic_large category",
                                                    "parent_id": "1",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/store": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store category in DB",
                "description": "Store category in DB",
                "operationId": "store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "slug"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Title"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test-article-title"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Description"
                                    },
                                    "pic-small": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Small"
                                    },
                                    "pic-large": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Large"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolaen",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "Create new Category"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category",
                                                "title": "title category",
                                                "slug": "slug category",
                                                "description": "description category",
                                                "pic_small": "pic_small category",
                                                "pic_large": "pic_large category",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/show": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store category in DB",
                "description": "Store category in DB",
                "operationId": "show",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category",
                                                "title": "title category",
                                                "slug": "slug category",
                                                "description": "description category",
                                                "pic_small": "pic_small category",
                                                "pic_large": "pic_large category",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/edit": {
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "Edit category in DB",
                "description": "Edit category in DB",
                "operationId": "edit",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Title"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test-article-title"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Description"
                                    },
                                    "pic-small": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Small"
                                    },
                                    "pic-large": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Large"
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "category",
                                                "title": "title category",
                                                "slug": "slug category",
                                                "description": "description category",
                                                "pic_small": "pic_small category",
                                                "pic_large": "pic_large category",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/soft-delete": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Soft-delete category in DB",
                "description": "Soft-delete category in DB",
                "operationId": "soft-delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error soft delete"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/category/v1/delete": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "delete category in DB",
                "description": "delete category in DB",
                "operationId": "delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Delete"
                    }
                }
            }
        },
        "/blog-api/category/v1/restore-delete": {
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "restore delete category in DB",
                "description": "when you delete category in DB you can restore it",
                "operationId": "restore-delete-category",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource if success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error category delete"
                    }
                }
            }
        },
        "/blog-api/post/v1/store": {
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "Store post in DB",
                "description": "Store post in DB",
                "operationId": "storePost",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "slug"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test post name"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Title"
                                    },
                                    "status": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post status"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Slug status"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Description"
                                    },
                                    "meta_description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Description"
                                    },
                                    "meta_keywords": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Keywords"
                                    },
                                    "meta_language": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Meta Language"
                                    },
                                    "tweet_text": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Tweet Text"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Post Type"
                                    },
                                    "menu_order": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "pic_small": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Pic Small"
                                    },
                                    "pic_large": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Post Pic Large"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "100"
                                    },
                                    "comment_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "menu_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "visible_index_status": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": "true"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {},
                                        "example": {
                                            "id": "1",
                                            "name": "tag post"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolaen",
                                            "example": "true"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "Create new Post"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "post name",
                                                "title": "title post",
                                                "status": "True",
                                                "slug": "slug category",
                                                "description": "description post",
                                                "meta_description": "meta_description post",
                                                "meta_keywords": "meta_keywords post",
                                                "meta_language": "meta_language post",
                                                "tweet_text": "tweet_text post",
                                                "post_type": "post_type post",
                                                "menu_order": "menu_order post",
                                                "priority": "133",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "comment_status": "True",
                                                "menu_status": "True",
                                                "visible_index_status": "True",
                                                "category_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1",
                                                "tags": {
                                                    "id": "1",
                                                    "name": "tag post"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/list": {
            "get": {
                "tags": [
                    "Post"
                ],
                "summary": "list Post",
                "description": "list Post",
                "operationId": "list-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "skip",
                                    "take",
                                    "post_type"
                                ],
                                "properties": {
                                    "skip": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "0"
                                    },
                                    "take": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "post_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "article"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": [
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "description": "description Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "1"
                                                },
                                                {
                                                    "name": "Post",
                                                    "title": "title Post",
                                                    "slug": "slug Post",
                                                    "description": "description Post",
                                                    "pic_small": "pic_small Post",
                                                    "updated_at": "2023-02-19T07:39:12.000000Z",
                                                    "created_at": "2023-02-19T07:39:12.000000Z",
                                                    "id": "2"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/show": {
            "post": {
                "tags": [
                    "Post"
                ],
                "summary": "Store post in DB",
                "description": "Store category in DB",
                "operationId": "show-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "post",
                                                "title": "title post",
                                                "slug": "slug post",
                                                "description": "description post",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/edit": {
            "put": {
                "tags": [
                    "Post"
                ],
                "summary": "Edit post in DB",
                "description": "Edit post in DB",
                "operationId": "edit-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Title"
                                    },
                                    "slug": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test-article-title"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Subject"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Description"
                                    },
                                    "pic-small": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Small"
                                    },
                                    "pic-large": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Test Article Pic Large"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The response data",
                                            "type": "array",
                                            "items": {},
                                            "example": {
                                                "name": "post",
                                                "title": "title post",
                                                "slug": "slug post",
                                                "description": "description post",
                                                "pic_small": "pic_small post",
                                                "pic_large": "pic_large post",
                                                "parent_id": "1",
                                                "updated_at": "2023-02-19T07:39:12.000000Z",
                                                "created_at": "2023-02-19T07:39:12.000000Z",
                                                "id": "1"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  edit"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/soft-delete": {
            "delete": {
                "tags": [
                    "Post"
                ],
                "summary": "Soft-delete post in DB",
                "description": "Soft-delete post in DB",
                "operationId": "soft-delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error  soft delete"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/blog-api/post/v1/delete": {
            "delete": {
                "tags": [
                    "Post"
                ],
                "summary": "delete post in DB",
                "description": "delete post in DB",
                "operationId": "delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Delete"
                    }
                }
            }
        },
        "/blog-api/post/v1/restore-delete": {
            "put": {
                "tags": [
                    "Post"
                ],
                "summary": "restore delete post in DB",
                "description": "when you delete post in DB you can restore it",
                "operationId": "restore-delete-post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An example resource if success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "message": {
                                            "description": "The response message",
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error Restore delete"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiAuth": {
                "type": "http",
                "description": "Login with email and password to get the authentication token",
                "name": "Token based Based",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Blog API",
            "description": "API Endpoints of Projects"
        }
    ]
}